<!DOCTYPE html>
<html>
<head>
  <title>RealtorClient</title>
  <%= stylesheet_link_tag    "realtor_client/application", :media => "all" %>
  <%= javascript_include_tag "realtor_client/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
